html {
  overflow-x: hidden !important;
}

body {
    background-color: #000;
    font-family: 'Satoshi', sans-serif;
    overflow-x: hidden !important;
}

header {
    min-height: 100vh;

}

h1 {
    font-weight: bold;
}

a {
    text-decoration: none;

}

.p-basic {
  font-size: 18px;
  font-weight: lighter;
}

.nav-link {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  padding: 6px 24px !important;
}

.nav-link:hover {
  color: #0047FF;
}

.short-paragraph {
  max-width: 550px;
}

.round {
  border-radius: 12px;
}

.section {
    margin-top: 32px;
    margin-bottom: 32px;
}

.navbar {
    background-color: transparent !important;
    z-index: 1000;
}

.navbar-brand {
  padding-bottom: 12px;
  padding-left: 12px;
}

.nav-wrapper {
    border-radius: 200px;
    background-color: rgba(252, 252, 252, .9);
    position: fixed;
    top: .5rem;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header-wrapper {
  margin-top: 8rem;
  overflow-x: hidden;
}

.btn-main {
    padding: 20px 42px;
    border-radius: 100px;
    background: #0047FF;
    color: #fff;
    outline: none;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
  }
  .btn-main:hover {
    color: #000;
    background-color: #FEE9DF;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
  }
  .btn-main:focus {
    color: #fff;
    box-shadow: none;
  }
  
.btn-main, .cta {
  margin-right: 16px;
}

.btn-main.nav-link {
  padding: 16px 32px !important;
  margin-right: -6px;
  margin-left: 12px;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
}

.btn-main.nav-link:hover {
  background-color: #FEE9DF;
  color: #000;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
}

  .btn-secondary {
    padding: 20px 42px;
    border-radius: 100px;
    background:transparent;
    border: 2px solid #FEE9DF;
    color: #fff;
    outline: none;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;

  }
  
  .btn-secondary:hover {
    background-color: #FEE9DF;
    border: 2px solid #FEE9DF;
    color: #000;
    outline: none;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
  }

  .gradient-1 {
    position: absolute;
    right: -30%;
    z-index: -1;
  }

  .gradient-3 {
    position: absolute;
    left: -30%;
    z-index: -1;
  }

  .gradient-left-blue {
    position: absolute;
    left: -30%;
    z-index: -1;
  }

  .gradient-right-blue {
    position: absolute;
    right: -30%;
    z-index: -1;
  }

  .gradient-background-3 {
    background-image: url("images/gradient-3.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    backdrop-filter: blur(5px);
  }

  .features {
    padding-top: 150px;
    margin-bottom: 32px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    margin-bottom: 150px;
  }

  .second-grid {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'video video video'
        'about about cta';
    gap: 32px;
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .second-grid > .video-section {
    grid-area: video;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid #fff;
    background-image: url("images/card-background.png");
    background-position: center right;
    padding: 16px;
  }

  .video-text {
   padding-top: 24px;
   padding-bottom: 32px;
    color: #fff;
    margin: auto;
    max-width: 600px;
    font-size: 18px;
    font-weight: lighter;
  }

  .video-section button {
    margin-bottom: 48px;
  }

  .second-grid > .about {
    grid-area: about;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    max-height: auto;
  }

  .second-grid > .sign-up {
    grid-area: cta;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
  }

  #about {
    padding-top: 40px;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content:space-around;
  }

  .about {
    background-color: transparent !important;
    color: #fff;
    border: 2px solid #fff;
  }

  .register-btn {
    text-align: start;
    margin-bottom: 1rem;
  }

  .title {
    color: #fff;
    font-size: 80px;
  }

  .large-title {
    margin-top: 42px !important;
  }

.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content-wrapper.gradient {
  background-image: url("images/card-background.png");
  background-color: #F2F1F4 !important;
}

.features-card {
  background-color: #000 !important;
  color: #fff;
  border: 2px solid #fff;
  background-image: url("images/card-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-text {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
}

.price-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.price-title {
  font-size: 50px !important;
  padding-bottom: 24px;
}

#price {
  padding-top: 120px !important;
  margin-top: 0;
}

.card {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 18px;
  color: #fff;
  min-height: 500px;
  border-radius: 20px;
  padding: 70px 60px;
  justify-content: start;
  background-image: url("images/card-background.png");
  background-position: top;
  background-repeat: no-repeat;
}

.card-white {
  background-color: rgba(252, 252, 252, .9);
  backdrop-filter: blur(5px);
  border: 0;
  color: #000;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
  padding-top: 300px;
  padding-bottom: 220px;
  background-image: url("images/card-background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonial {
  background-color: transparent;
  color: #fff;
  padding: 2rem;
  margin-top: 32px;
  border-radius: 12px;
  border: 2px solid #fff;
}

.testimonials-image {
  position: absolute;
  
}

.even {
  margin-top: 0;
  margin-bottom: 32px;
}

.testimonial > h4 {
  font-size: 20px;
}

.accordion {
  padding-top: 6rem;
  max-width: 70%;
  margin: auto;
  border-radius: 12px !important;
}

.accordion-item {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.accordion-button {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
}


.contact-form {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgba(252, 252, 252, .9);
  backdrop-filter: blur(5px);
}

.contact-content {
  padding: 70px 70px;
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 50px;
}

.cta-btn {
  margin-top: auto;
}

.form {
  padding: 70px 70px;
}

form {
  margin: 0;
}


.modal {
  --bs-modal-width: 100% !important;
  background-color: transparent !important;
  color: #F2F1F4;
  backdrop-filter: blur(10px);
}

.modal-dialog {
  margin: 10rem 5rem;
}

.modal-content {
  height: 70vh;
  background-color: transparent !important;
  border: 2px solid #fff;
}

.modal-header {
  background-color: transparent !important;
}

#contact {
  padding-top: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-around;
  align-items: end;
}

.footer-links > a {
  margin: 0 !important;
  padding-right: 0 !important;
}

.footer-links > .nav-link {
  color: #fff;
  
}

.footer-links > .nav-link:hover {
  color: #fff;
  border-radius: 100px;
  text-decoration: underline;
  text-decoration-color: #0047FF;
  text-decoration-thickness: 3px;
}

.cegadatok {
  margin-top: 16px;
  font-size: 16px;
  color: #fff !important;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (max-width: 500px) {
  .container {
    max-width: 100% !important;
  }

  .nav-wrapper {
    text-align: center;
    max-width: 95% !important;
    margin: 16px 15px !important;
    margin: auto !important;
    overflow-x: visible;
  }

  .modal-dialog {
    margin-top: 56px !important;
    margin: 32px 16px;
  }

  .content-wrapper > img {
    position: relative;
    bottom: 0 !important;
    width: auto;
  }

  .content-wrapper {
    position: relative;
    text-align: center;
  }

}

@media (max-width: 768px) { 

  .nav-wrapper {
    padding: 6px 28px !important;
    margin: 16px 16px !important;
    width: 100% !important;
    justify-self: center;
  }

  .container {
    max-width: 90%;
  }

  .navbar-brand {
    padding-left: 0;
  }
  
  .header-wrapper {
    padding-top: 0px !important;
  }

  .content-wrapper > img {
    position: relative;
    width: auto;
    text-align: center;
  }

  .content-wrapper {
    position: relative;
    text-align: center;
  }

  .cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 250px;
    margin: auto;
  }

  .btn-main.cta {
    margin: 0;
  }

  .header-wrapper p {
    font-size: 18px !important;
  }

  .large-title {
    font-size: 42px;
    margin-top: 0 !important; 
    margin-bottom: 0 !important;
  }

  h2.title {
    font-size: 52px !important;
  }

  .testimonials-wrapper {
    padding-bottom: 0;
  }

  p.sub-text {
    font-size: 18px;
  }

  .price-part {
    gap: 24px;
  }

  .card {
    min-width: 100%;
  }

  .form {
    padding: 32px 24px;
  }

  .accordion {
    margin: auto;
    max-width: 100%;
  }

  .contact-content {
    padding: 16px 16px;
  }

  .price-title {
    font-size: 32px !important;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {  

    .accordion {
      max-width: 100%;
    }

    .card {
      min-width: 100%;
    }

    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
    }

    h1 {
      font-size: 52px !important;
    }

    .main-title {
      text-align: center;
    }

    .second-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: 
        'video'
        'about'
        'cta';
    }

    .video-text {
      padding-top: 16px;
    }

    .video-section, .about , .sign-up {
      padding: 32px 24px !important;
    }

    .testimonials-wrapper {
      flex-direction: column;
      padding-top: 32px;
    }

    .testimonial , .even {
      margin: 0;
    }
    
    .price-part {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      text-align: center;
      align-items: center;
    }

    .card {
      width: 100% !important;
    }
    
    .nav-wrapper {
      border-radius: 35px !important;
    }

    .nav-link.btn-main {
      margin: 12px 32px;
      margin-bottom: 36px;
      text-align: center;
    }

    .navbar-nav {
      margin-top: 32px;
    }

    .contact-form {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
    
    .contact-content {
      padding-bottom: 0;
    }
    
    .form {
      padding-top: 16px;
    }

    .footer-links {
      flex-direction: column;
      align-items: end;
    }

    .footer-links a {
      margin: 16px 0;
    }

 }

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .card {
      padding: 24px 32px !important;
      min-height: 400px;
      min-width: 15rem;
    }
 }

 @media (max-width: 1330px) { 

      h1 {
        font-size: 3rem !important;
      }

      .header-wrapper {
        margin-top: 6rem;
      }
}